/*ad-view*/
.ad-view {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  justify-content: center;
  font-family: 'Gloria Hallelujah Inder', cursive;
  background-image: url(./../assets/background.png);
}

.ad-body {
  display: flex;
}

/*h-search-bar*/
.h-search-bar {
  height: 11vh;
  width: 100vW;
  display: flex;
  flex-direction: row;
}

.h-search-bar .logo {
  height: 12vh;
  margin-left: 5vh;
  margin-top: -3px;
  width: max-content;
}

.h-search-bar button {
  margin-top: 3vh;
  height: 7vh;
  width: 252px;
  border: none;
  font-size: 4vh;
  margin-left: 5vh;
  color: #1E1E1E;
  margin-right: 5vh;
  border-radius: 45px;
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Gloria Hallelujah Inder', cursive;

}

.h-search-bar button:hover {
  transition: 0.2s;
  border-radius: 45px;
  box-shadow: inset 0 0 4px black;

}

/*search-bar*/
.search-bar {
  padding: 3vh 0px;
  display: flex;
  width: 50vw;
  margin-left: 5vh;
  margin-right: 5vh;
  position: relative;
  align-items: center;
}

.search-bar input {
  padding-left: 10%;
  width: 100%;
  height: 110%;
  border: none;
  font-size: 3vh;
  color: #1E1E1E;
  transition: 0.2s;
  font-style: italic;
  border-radius: 45px;
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar button:hover {
  transition: 0.2s;
  border-radius: 45px;
  box-shadow: inset 0 0 4px black;

}

.search-bar input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.search-bar button {
  margin-top: 0px;
  width: 5vh;
  height: 5vh;
  border: none;
  font-size: 15px;
  margin-left: 1vw;
  position: absolute;
  transition: 0.2s all;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.search-bar button:hover {
  box-shadow: 0 0 10px black;
  width: 5vh;
  height: 5vh;
  border-radius: 50px;
}

.search-bar button img {
  width: 3vh;
  height: 3vh;
}

/*ad-large*/
.ad-large {
  margin: 5vh 10vw;
  margin-bottom: 0;
  width: 45vw;
  justify-content: center;
}

.ad-large p {
  font-size: 0.9vw;
  font-weight: 400;
  text-align: justify;

}

.ad-image img {
  height: auto;
  display: block;
  max-width: 90%;
  margin-left: 5%;
  align-items: center;
  border-radius: 40px;
}

/*advertiser-profile*/
.advertiser-profile {
  display: flex;
  width: 20vw;
  height: clamp(50vh, 65vh, 65vh);
  margin: 10vh 5vw;
  margin-bottom: 0;
  background-color: #d9d9d9;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.advertiser-image {
  width: clamp(30px, 8vw, 8vw);
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.advertiser-name {
  font-size: 1vw;
  font-weight: bold;
  margin: 10px 0;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-1,
.star-2,
.star-3,
.star-4,
.star-5 {
  height: clamp(10px, 3vh, 3vh);
  width: auto;
  margin: 0 5px;
}

.advertiser-number {
  font-size: 1vw;
  margin: 10px 0;
}

.buy-btn,
.exchange-btn {
  margin-top: 20px;
}

.advertiser-profile button {
  width: 12vw;
  height: 6vh;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1vw;
  display: flex;
  align-items: center;
}

.buy-btn {
  background-color: #FFD707;
}

.exchange-btn {
  background-color: #7A7272;
}

.advertiser-profile button img {
  width: 1.5vw;
  height: auto;
  margin-right: 10px;
}

/*exchange-suggestion*/
.exchange-suggestion {
  top: 25%;
  left: 20%;
  z-index: 1;
  padding: 20px;
  margin-bottom: 0;
  margin: 10vh 5vw;
  position: absolute;
  text-align: center;
  border-radius: 40px;
  height: min-content;
  justify-content: center;
  width: clamp(20%, 50%, 60%);
  background-color: #d9d9d9;
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
}

.exchange-suggestion textarea {
  padding-left: 5%;
  width: 90%;
  height: 20vh;
  resize: vertical;
  border: none;
  font-size: 110%;
  color: #1E1E1E;
  transition: 0.2s;
  font-style: italic;
  border-radius: 45px;
  margin: 2% 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top {
  display: flex; 
  text-align: center;
}

.top p {
  margin-left: 40%;
}

.top button {
  margin-left: 35%;

}

.exchange-suggestion p {
  display: inline;
  font-weight: 900;
  text-align: center;
}

.bottom {
  display: block; 
  text-align: center;
  justify-content: center;
}

.bottom button {
  margin-left: 45%;

}

.exchange-suggestion button {
  width: 5%;
  display: flex;
  border: none;
  background-color: transparent;
}

.exchange-suggestion img{
  width: 100%;
}